/* h1{
    color:red;
    text-align:center;
    font-family: sans-serif;
}
*{
    background-color:#ffff00;
}
.p{
    font-style: italic;
}
#box{
    background-color:blue;
    color:red;
    border-radius: 50px;
}
.heading {
    color:red;
}
button {
    color:green;
} */
 /* h1 {
    text-transform: capitalize;
    text-align: center;
 }
 * {
    font-family: 'Times New Roman', Times, serif;
 }
 #outer {
    font-size: 25px;
 }
 /* #inner {
    font-size: 10px;
 } */ 
  div {
    height:100px;
    width:100px;
    /* border-width:5px;
    border-color:aqua;
    border-style:solid; */
    border: 5px solid black;
    text-align: center;
    border-radius:20px;
    /* padding-left:20px; */
    padding-top:50px;
  }
